/*
폰트 사이즈
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

여백 (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

bg color
#364fc7
#91a7ff

font
#0E1119
#1D2133

*/

/***************************/
/* 초기화, 전체 적용 */
/***************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Myeongjo", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a:link,
a:active,
a:visited,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: #1d2133;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
}

.btn {
  border: none;
  cursor: pointer;

  color: #fff;
  background-color: #4b43a6;
}

.grid {
  display: grid;
  align-items: center;
}
