/*******************/
/* header - nav */
/*******************/
.main-nav {
  background-color: #bac8ff;
  color: #1d2133;

  padding: 0.4rem 3.2rem;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.2rem;

  list-style: none;
  font-size: 1.4rem;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  color: #1d2133;
}

.btn--logout {
  padding: 0.4rem 0.8rem;
  background-color: #4b43a6;
}

/*******************/
/* header - 메인 문구 */
/*******************/
.section-header {
  text-align: center;
  padding: 4.8rem 0;
  margin: 6.4rem 0;
}

.sentence-box {
  margin-top: 3.2rem;
  color: #1d2133;
}

.main-sentence {
  font-size: 6.2rem;
  font-weight: 800;
  letter-spacing: -5px;
  margin-bottom: 0.8rem;
}

.sub-sentence {
  font-size: 3.6rem;
  letter-spacing: -5px;
}

/*******************/
/* 기록 섹션 */
/*******************/
.section-record {
  padding: 9.6rem 0;
  margin: 6.4rem 0;
}

/*******************/
/* 태그 */
/*******************/
.tag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 6.4rem 0;
  gap: 1.4rem;

  box-shadow: rgba(116, 143, 252, 0.6) 0 0 -20px 30px inset;
}

.tag-box--title {
  font-size: 1.6rem;
  letter-spacing: -1px;
  font-style: italic;
}

.tags {
  list-style: none;
  /* padding: 6.4rem 0; */
  /* margin: 4.8rem 0; */

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.tag {
  color: #1d2133;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.4rem 0.8rem;
  background-color: #bac8ff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.7s ease-in;
}

.tag:hover,
.card-tag:hover {
  background-color: #4b43a6;
  color: #fff;
}

/*******************/
/* 입력 폼 */
/*******************/

.user-voice {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  cursor: pointer;
  grid-column: 1 / -1;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

.user-voice-icon {
}

.record-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.4rem;
  max-width: 50%;
  margin: 4.8rem auto;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}

.record-text-label,
.record-tag-label,
.record-text,
.record-tag,
.btn--record {
  grid-column: 1 / -1;
}

.record-form label {
  color: #1d2133;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.record-form .record-input {
  border: none;
  padding: 0.4rem;
}

.record-form textarea {
  resize: none;
  border: none;
  padding: 0.4rem;
}

.record-form input::placeholder,
.record-form textarea::placeholder {
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -0.5px;
}

.record-btn-box {
  grid-column: 1 / -1;
  padding: 1.6rem 0;

  background-color: #4b43a6;
  transition: all 2s ease;
}

.record-btn-box:hover {
  /* 색상 변경 */
  background-color: #3c3685;
}

.btn--record {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.6rem;
  font-weight: 700;

  background-color: inherit;
  width: 100%;
  height: 100%;
}

/*******************/
/* 출력 */
/*******************/
.record-cards {
  background: #3f2b96; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    0deg,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    0deg,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  max-width: 85%;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 5px;

  margin-bottom: 9.6rem;
}

.record-card {
  color: #1d2133;
  background-color: #fff;

  box-shadow: rgba(75, 67, 166, 0.3) 0px -50px 36px -28px inset;
  /* box-shadow: rgba(75, 67, 166, 0.3) 0px 25px 20px -20px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;

  padding: 6.4rem 3.2rem;
  transition: all 2s;
  cursor: pointer;
}

.record-card:hover {
  transform: scale(1.03);
  box-shadow: none;
}

.record-empty {
  grid-column: 1 / -1;
  text-align: center;
  margin: 12.8rem 0;
}

.empty-text {
  color: rgba(233, 234, 236, 0.8);
  font-size: 3.6rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.4rem;
}

.card-tag {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  background-color: #bac8ff;
  color: #1d2133;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.card-date {
  display: inline-block;
}

.card-text {
  font-size: 2.4rem;
  letter-spacing: -1.5px;
  line-height: 1.4;
}

.card-info {
  font-size: 1.6rem;
  font-style: italic;
  text-align: end;
}

.card-btn-box {
  align-self: flex-end;
  display: flex;
  gap: 0.4rem;
}

.btn--card {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Nanum Myeongjo", serif;

  color: #666;
  cursor: pointer;
  transition: all 2s;
}

.btn--card:hover {
  color: #3c3685;
}

/*******************/
/* wave animation */
/*******************/
.wave-box {
  position: relative;
  margin: 0 auto;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  overflow: hidden;
  z-index: -100;

  box-shadow: inset 0 0 0 6px #4b43a6;
}

.wave {
  width: 110%;
  height: 110%;
  border-radius: 42%;

  position: absolute;
  opacity: 0.5;
}

.wave--1 {
  animation: wave 5s infinite linear;
  background-color: #4c6ef5;

  top: -15%;
  left: -5%;
}
.wave--2 {
  animation: wave 6s infinite linear;
  background-color: #748ffc;

  top: -20%;
  left: -5%;
}
.wave--3 {
  animation: wave 7s infinite linear;
  background-color: #91a7ff;

  top: -25%;
  left: -5%;
}
.wave--4 {
  animation: wave 8s infinite linear;
  background-color: #bac8ff;

  top: -30%;
  left: -5%;
}
.wave--5 {
  animation: wave 9s infinite linear;
  background-color: #dbe4ff;

  top: -40%;
  left: -5%;
}

.wave--6 {
  animation: wave 10s infinite linear;
  background-color: #edf2ff;

  opacity: 1;

  top: -45%;
  left: -5%;
}

.sun {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #fff 0 0 18px 0;

  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  z-index: 1;

  animation: sun 7s infinite ease-in;
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sun {
  100% {
    width: 7.2rem;
    height: 7.2rem;
  }
}

/*******************/
/* 위로 가기 */
/*******************/

.btn--up {
  display: inline-block;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
}

.up--bg {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #1d2133;
  overflow: hidden;
}

.up--wave {
  position: absolute;

  width: 4.5rem;
  height: 4.5rem;
  border-radius: 45%;
}

.uw--1 {
  top: -95%;
  left: -20%;
  background-color: #4b43a6;
  animation: wave 5s infinite;
}

.uw--2 {
  top: -105%;
  left: -20%;
  background-color: #4c6ef5;
  animation: wave 7s infinite;
}

.uw--3 {
  top: -135%;
  left: -20%;
  background-color: #91a7ff;
  animation: wave 9s infinite;
}

.up--anchor {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 10%;
  transform: rotate(30deg);
  transition: all 1s ease-out;
}

.up--anchor:hover {
  top: 0;
}
